---
Language: Cpp
BasedOnStyle: GNU
UseTab: Never
IndentWidth: 8
AccessModifierOffset: -8
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 80
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterFunction: true
AlwaysBreakAfterReturnType: All
AlignConsecutiveAssignments: true
FixNamespaceComments: true
AlignConsecutiveDeclarations: true
SpaceBeforeParens: ControlStatements
